<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cm</display-name>
  <filter>
  	<filter-name>charset</filter-name>
  	<filter-class>com.zdd.filter.Acharset</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>charset</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>crossdomain</filter-name>
  	<filter-class>com.zdd.filter.Acrossdomain</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>crossdomain</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
  	<filter-name>send</filter-name>
  	<filter-class>com.zdd.biz.msg.filter.Bsend</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>send</filter-name>
  	<url-pattern>/sd</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>lpmsg</filter-name>
  	<filter-class>com.zdd.biz.msg.filter.Longpollcheck</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>lpmsg</filter-name>
  	<url-pattern>/lpmsg</url-pattern>
  </filter-mapping>
  
</web-app>