<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>pei</display-name>
  <filter>
  	<filter-name>charset</filter-name>
  	<filter-class>com.zdd.filter.Acharset</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>charset</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>crossdomain</filter-name>
  	<filter-class>com.zdd.filter.Acrossdomain</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>crossdomain</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>expire</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Aexpire</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>expire</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping> 
  <filter>
  	<filter-name>count</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Acount</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>count</filter-name>
  	<url-pattern>/cnt</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>creategame</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Bcreategame</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>creategame</filter-name>
  	<url-pattern>/cg</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>startgame</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Bstartgame</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>startgame</filter-name>
  	<url-pattern>/sg</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>gameinfo</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Bgameinfo</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>gameinfo</filter-name>
  	<url-pattern>/gi</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>incard</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Bincard</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>incard</filter-name>
  	<url-pattern>/ic</url-pattern>
  </filter-mapping>
  <filter>
  	<filter-name>private</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Bprivate</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>private</filter-name>
  	<url-pattern>/pr</url-pattern>
  </filter-mapping>


  <filter>
  	<filter-name>lpch</filter-name>
  	<filter-class>com.zdd.biz.pe.filter.Longpollcheck</filter-class>
  	<async-supported>true</async-supported>
  </filter>
  <filter-mapping>
  	<filter-name>lpch</filter-name>
  	<url-pattern>/lpch</url-pattern>
  </filter-mapping>

</web-app>